In [1]:
import pandas as pd
import numpy as np

In [5]:
test = pd.read_csv('test-data-for-participant.csv',header=None)

In [6]:
test.shape

(5000, 2)

In [7]:
test

         0     1
0      838   889
1      905  1330
2      859   875
3      861   874
4      857   869
...    ...   ...
4995   847   898
4996  1236  1276
4997   851   889
4998   829   898
4999   846   891

[5000 rows x 2 columns]

In [8]:
test[0].value_counts()

940     50
942     50
924     50
937     50
916     50
        ..
1225    34
847     34
832     34
830     34
946     30
Name: 0, Length: 126, dtype: int64

In [9]:
test[1].value_counts()

1303    46
1330    46
1327    46
1325    46
1306    46
        ..
1279    40
1278    40
890     40
872     40
1273    40
Name: 1, Length: 118, dtype: int64